<ion-view view-title="期刊书架">
  <ion-pane>
    <div class="in-pane">
      <div class="layer row">
        <div class="col col-33">
          <a ui-sref="zine">
            <img src="http://dummyimage.com/206x242/2891d2/fff&amp;text=eZine-1" class="animated bounce-in-down">
          </a>
        </div>
        <div class="col col-33">
          <img src="http://dummyimage.com/206x242/2891d2/fff&amp;text=eZine-2" class="animated bounce-in-down">
        </div>
        <div class="col col-33">
          <img src="http://dummyimage.com/206x242/2891d2/fff&amp;text=eZine-3" class="animated bounce-in-down">
        </div>
      </div>
      <div class="layer"></div>
      <div class="layer"></div>
      <div class="layer"></div>
    </div>
  </ion-pane>
</ion-view>